.study-phase{
    background-color: rgba(248, 0, 124, 0.8);
    margin: 10px auto 0 auto;
    display: block;
    width: 270px;
    height: 50px;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 40px;
    font-family: "Share Tech", sans-serif;
    color: white;
}

.break-phase{
    background-color: rgba(93, 136, 86, 0.8);
    margin: 10px auto 0 auto;
    display: block;
    width: 270px;
    height: 50px;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 40px;
    font-family: "Share Tech", sans-serif;
    color: white;
}

.pomodoro-phase:hover{
    background-color: rgb(118, 81, 51);
}